body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(141, 226, 43);
  color: white;
  font-family: cursive;
}
h1 {
  margin-bottom: 10px;
}
a {
  color: white;
}
img {
  margin-top: 50px;
}
